.boxed {
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px 15px 20px 15px;
    background-color: #8fa7d6;
}

.inside-boxed {
    border-radius: 0px;
    background-color: #6989c9;
    border: 3px solid #CCCCCC;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 5px;
}

.inside-boxed-no-radius {
    background-color: #6989c9;
    border: 3px solid #CCCCCC;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 5px;
}

label, h1, h2, h3, h4, h5, h6, p, ul, div, a {
    color: #FFFFFF;
}

.page-header {
    padding: 8px;
}

p, ul, div, h6, h5, h4 {
    font-weight: lighter;
}

.text-muted {
    color: #FFFFFF !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: #1f3d7a;
    border-color: #CCCCCC;
    padding: 2px;
}

.btn-primary:hover {
    background-color: #142C5B !important;
}

.like-count-btn {
    width: 25px;
    height: 35px;
}

.like-btn {
    width: 55px;
    height: 35px;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;

}

.like-btn {
    width: 55px;
    height: 35px;
}

