.movieButtons {
    position: relative;
    float: right;
}

.movie-title {
    text-decoration: underline;
    -webkit-transition: color 500ms;
    transition: color 500ms;
}

.movie-title:hover {
    color: #1f3d7a;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px inset black;
}

