.movie-title h5 {
    text-decoration: underline;
    -webkit-transition: color 500ms;
    transition: color 500ms;
}

.movie-title h5:hover {
    color: #142C5B;
}

.poster {
    width: 88px;
    height: 130px;
    border: 2px inset black;
    margin-right: 20px;
    margin-top: 3px;
    float: left;
}

.recent-entry {
    height: 160px;
}

.recent-entry p {
    height: 100px;
    overflow-y: auto;
}