.searchBar {
    float: right;
    padding: 12px;
}

.searchText{
    height: 35px;
    width: 25vw;
}

.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    margin-top: -5px;
    padding: 5px;
    height: 36px;
    font-family: Arial;
}
