.searchBar {
    float: right;
    padding: 12px;
    margin-right: 1%;
}

.searchText{
    height: 35px;
    width: 25vw;
}

.searchButton {
    margin-top: -6px;
    padding: 5px !important;
    height: 35px;
    border-radius: 0px !important;
    font-family: Arial;
    background-color: #8fa7d6;
}
