.searchBar {
    float: right;
    padding: 12px;
}

.searchText{
    height: 35px;
    width: 25vw;
}

.btn-primary {
    margin-top: -5px;
    background-color: #7094db !important;
    height: 36px;
    font-family: Arial;
}
